.pc
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.log
config.status
configure
debian/autoreconf.after
debian/autoreconf.before
debian/files
debian/wmfire.debhelper.log
debian/wmfire.postinst.debhelper
debian/wmfire.postrm.debhelper
debian/wmfire.substvars
debian/wmfire/
depcomp
install-sh
missing
src/Makefile
src/Makefile.in
src/wmfire
src/wmfire.o
*~
