Source: wmfire
Section: x11
Priority: optional
Maintainer: Ryuichi Arafune <arafune@debian.org>
Build-Depends: debhelper (>=3.0.5), xlibs-dev
Standards-Version: 3.5.4

Package: wmfire
Architecture: any
Depends: ${shlibs:Depends}
Description: A very cool fiery way of showing your CPU usage!
 The display is a 64x64 window designed to Dock into 
 Window Maker's Docking bar.
   
