Source: wmfire
Section: x11
Priority: optional
Maintainer: Doug Torrance <dtorrance@monmouthcollege.edu>
Build-Depends: debhelper (>=9), libgtop2-dev, libgtk2.0-dev, dh-autoreconf
Standards-Version: 3.9.6
Homepage: http://www.swanson.ukfsn.org/#wmfire
Vcs-Browser: https://github.com/d-torrance/wmfire
Vcs-Git: https://github.com/d-torrance/wmfire.git

Package: wmfire
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: very cool fiery way of showing your CPU usage
 A Window Maker (or similar) dockapp which shows your current CPU usage as
 a roaring fire.
 .
 It can monitor the average cpu load, or individual cpu load on SMP computers.
 Additionally it can monitor the memory, network load, a file or just be set to
 show a pretty flame. On entering the dock a burning spot replaces the cursor,
 and after two seconds symbols to represent the current monitor are "burnt"
 onscreen. The flame colour can also be changed.
 .
 It uses the GDK library to improve its speed - using less than half the cpu of
 the original program.
