#!/usr/bin/make -f
#-*- makefile -*-

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/rules/simple-patchsys.mk
include /usr/share/cdbs/1/class/autotools.mk

# remove dependency on libglib2.0-0, libpango1.0-0 and libxext6
DEB_MAKE_INVOKE = $(DEB_MAKE_ENVVARS) make -C $(DEB_BUILDDIR) LDFLAGS="-lgdk-x11-2.0 -lgtop-2.0" wmfire_LDADD="" AM_LDFLAGS=""

# don't need upstream AUTHORS
DEB_INSTALL_DOCS_ALL = ./README ./NEWS
